@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

 




/* Navbar.css */
.navbar {
  position: sticky; /* Stick to the top */
  top: 0; /* Position it at the top */
  background-color: white; /* Background color to cover content underneath */
  z-index: 1000; /* Ensure it stays on top of other elements */
  width: 100%; /* Full width of the viewport */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    
    font-style: normal;
  }
  
  .cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
  }

  .mulish-regular {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .mulish-bold{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .mulish-light {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
  }

  